DOCKER_CONTAINER=True
ENVIRONMENT=prom

APP_URL=http://auth_service:8088

PG_HOST=postgres
PG_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_DB=auth_database

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB_INT=0
REDIS_PASSWORD=
COMPOSE_HOSTNAME=redis

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

JWT_SECRET_KEY=qTFToYm{b6XuYnQPYG|H6GY|5eIR6|sv
JWT_ACCESS_TOKEN_EXPIRES=120
JWT_REFRESH_TOKEN_EXPIRES=120
